|===
|Path|Type|Description|Note

{{#fields}}
|{{#tableCellContent}}`+{{path}}+`{{/tableCellContent}}
|{{#tableCellContent}}`+{{type}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}
|{{#tableCellContent}}{{#Note}}{{Note}}{{/Note}}{{/tableCellContent}}

{{/fields}}
|===