<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="feedback-datatable(feedbacks)">
        <div id="feedbackDatatableWrap" class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                피드백 테이블
            </div>
            <div class="card-body">
                <table id="feedbackDatatable">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>사용자 FCM 토큰</th>
                        <th>피드백 내용</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>번호</th>
                        <th>사용자 FCM 토큰</th>
                        <th>피드백 내용</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr th:each="feedback, i : ${feedbacks}">
                        <td class="col-md-1" th:text="${i.index + 1}"></td>
                        <td class="col-md-4" th:text="${feedback.user.token}"></td>
                        <td class="col-md-6" th:text="${feedback.content}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</html>