<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="notice-datatable(notices)">
        <div id="noticeDatatableWrap" class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                공지 테이블
            </div>
            <div class="card-body">
                <table id="noticeDatatable">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>고유번호</th>
                        <th>게시 날짜</th>
                        <th>카테고리</th>
                        <th>제목</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>번호</th>
                        <th>고유번호</th>
                        <th>게시 날짜</th>
                        <th>카테고리</th>
                        <th>제목</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr th:each="notice, i : ${notices}">
                        <td class="col-md-1" th:text="${i.index + 1}"></td>
                        <td class="col-md-1" th:text="${notice.articleId}"></td>
                        <td class="col-md-1" data-type="date" data-format="YYMMDD" th:text="${notice.postedDate}"></td>
                        <td class="col-md-1" th:text="${notice.category.name}"></td>
                        <td class="col-md-4" th:text="${notice.subject}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</html>