<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="sub-unsub">
        <p class="h2 mb-4">공지 카테고리 구독 / 구독취소</p>
        <div id="subUnsubAlertGroup"></div>
        <form class="mx-2 mb-5">
            <div class="form-group mb-3">
                <label for="categoryCheckboxes" class="mb-1">카테고리</label>
                <div id="categoryCheckboxes" class="form-control"></div>
            </div>

            <div class="form-group mb-3">
                <label for="fcmTokenInput" class="mb-1">FCM 토큰</label>
                <input id="fcmTokenInput" class="form-control" type="text" placeholder="FCM 토큰을 입력하세요."/>
            </div>

            <div class="form-group">
                <button id="subBtn" type="button" class="btn btn-primary">구독</button>
            </div>
        </form>

        <p class="h2">구독한 공지 카테고리 확인</p>
        <div id="checkSubAlertGroup" class="mb-4"></div>
        <div class="mx-2 mb-5">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button id="subFindBtn" class="btn btn-primary" type="button">구독 카테고리 확인</button>
                </div>
                <input id="subCategoryListFCMTokenInput" type="text" class="form-control" placeholder="FCM 토큰 입력" aria-label="FCM 토큰 입력" aria-describedby="" />
            </div>

            <div class="loader-dot" style="display: none;"></div>
            <ul id="subCategoryList" class="list-group">

            </ul>
        </div>
    </div>
</html>